{% extends "base.html" %}
{% load static %}
{% block content %}

  <!-- Hero/Intro Slider Start -->
  <div class="section ">
    <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
        <!-- Hero slider Active -->
        <div class="swiper-wrapper">
            <!-- Single slider item -->
            <div class="hero-slide-item slider-height swiper-slide d-flex">
                <div class="container align-self-center">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                            <div class="hero-slide-content slider-animated-1">
                                <span class="category">New Products</span>
                                <h2 class="title-1">Data Manipulation </h2>
                                <p>Torem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmo tempor incididunt ut labore et dolore magna</p>
                                <a href="#" class="btn btn-lg btn-primary btn-hover-dark mt-5">Shop Now</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5">
                            <div class="hero-slide-image">
                                <img src="{% static 'images/slider-image/slider-1.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single slider item -->
            <div class="hero-slide-item slider-height swiper-slide d-flex">
                <div class="container align-self-center">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                            <div class="hero-slide-content slider-animated-1">
                                <span class="category">New Products</span>
                                <h2 class="title-1">Data Preprocessing </h2>
                                <p>Torem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmo tempor incididunt ut labore et dolore magna</p>
                                <a href="#" class="btn btn-lg btn-primary btn-hover-dark mt-5">Shop Now</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5">
                            <div class="hero-slide-image">
                                <img src="{% static 'images/slider-image/slider-2.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
  </div>

  <!-- Hero/Intro Slider End -->

  <!-- Product Category Start -->
  <div class="section pt-100px pb-100px">
    <div class="container">
        <div class="category-slider swiper-container" data-aos="fade-up">
            <div class="category-wrapper swiper-wrapper">
                <!-- Single Category -->
                <div class=" swiper-slide">
                    <a href="{% url 'shop_left_sidebar' %}" class="category-inner ">
                        <div class="category-single-item">
                            <img src="{% static 'images/icons/1.png' %}" alt="">
                            <span class="title">D2L AI Summary</span>
                        </div>
                    </a>
                </div>
                <!-- Single Category -->
                <div class=" swiper-slide">
                    <a href="{% url 'shop_left_sidebar' %}" class="category-inner ">
                        <div class="category-single-item">
                            <img src="{% static 'images/icons/2.png' %}" alt="">
                            <span class="title">Tensorflow Mastery</span>
                        </div>
                    </a>
                </div>
                <!-- Single Category -->
                <div class=" swiper-slide">
                    <a href="{% url 'shop_left_sidebar' %}" class="category-inner ">
                        <div class="category-single-item">
                            <img src="{% static 'images/icons/3.png' %}" alt="">
                            <span class="title">Modern Computer Vision</span>
                        </div>
                    </a>
                </div>
                <!-- Single Category -->
                <div class=" swiper-slide">
                    <a href="{% url 'shop_left_sidebar' %}" class="category-inner ">
                        <div class="category-single-item">
                            <img src="{% static 'images/icons/4.png' %}" alt="">
                            <span class="title">Fintech Solutions</span>
                        </div>
                    </a>
                </div>
                <!-- Single Category -->
                <div class="swiper-slide">
                    <a href="{% url 'shop_left_sidebar' %}" class="category-inner ">
                        <div class="category-single-item">
                            <img src="{% static 'images/icons/5.png' %}" alt="">
                            <span class="title">OpenCV Mastery</span>
                        </div>
                    </a>
                </div>
                <!-- Single Category -->
            </div>
        </div>
    </div>
  </div>

  <!-- Product Category End -->

  <!-- Product tab Area Start -->
  <div class="section product-tab-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" data-aos="fade-up">
                <div class="section-title mb-0">
                    <h2 class="title">Our Products</h2>
                    <p class="sub-title mb-30px">Here are our new arrival products</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="tab-content">
                    <!-- 1st tab start -->
                    <div class="tab-pane fade show active" id="tab-product-new-arrivals">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-30px" data-aos="fade-up" data-aos-delay="200">
                                <!-- Single Prodect -->
                                <div class="product">
                                    <div class="thumb">
                                        <a href="{% url 'shop_left_sidebar' %}" class="image">
                                            <img src="{% static 'images/product-image/1.jpg' %}" alt="Product" />
                                            <img class="hover-image" src="{% static 'images/product-image/2.jpg' %}" alt="Product" />
                                        </a>
                                        <span class="badges">
                                            <span class="new">New</span>
                                        </span>
                                        <div class="actions">
                                            <a href="{% url 'wishlist' %}" class="action wishlist" title="Wishlist"><i
                                                    class="icon-heart"></i></a>
                                            <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                    class="icon-size-fullscreen"></i></a>
                                            <a href="{% url 'compare' %}" class="action compare" title="Compare"><i
                                                    class="icon-refresh"></i></a>
                                        </div>
                                        <button title="Add To Cart" class=" add-to-cart">Add To Cart</button>
                                    </div>
                                    <div class="content">
                                        <h5 class="title"><a href="{% url 'shop_left_sidebar' %}">Product #1</a></h5>
                                        <span class="price">
                                            <span class="new">$0.99</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-30px" data-aos="fade-up" data-aos-delay="400">
                                <!-- Single Prodect -->
                                <div class="product">
                                    <div class="thumb">
                                        <a href="{% url 'shop_left_sidebar' %}" class="image">
                                            <img src="{% static 'images/product-image/3.jpg' %}" alt="Product" />
                                            <img class="hover-image" src="{% static 'images/product-image/4.jpg' %}" alt="Product" />
                                        </a>
                                        <span class="badges">
                                            <span class="sale">-10%</span>
                                        <span class="new">New</span>
                                        </span>
                                        <div class="actions">
                                            <a href="{% url 'wishlist' %}" class="action wishlist" title="Wishlist"><i
                                                    class="icon-heart"></i></a>
                                            <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                    class="icon-size-fullscreen"></i></a>
                                            <a href="{% url 'compare' %}" class="action compare" title="Compare"><i
                                                    class="icon-refresh"></i></a>
                                        </div>
                                        <button title="Add To Cart" class=" add-to-cart">Add To Cart</button>
                                    </div>
                                    <div class="content">
                                        <h5 class="title"><a href="{% url 'shop_left_sidebar' %}">Product #2</a></h5>
                                        <span class="price">
                                            <span class="new">$0.89</span>
                                        <span class="old">$0.99</span>
                                        </span>
                                    </div>
                                </div>
                                <!-- Single Prodect -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-30px" data-aos="fade-up" data-aos-delay="600">
                                <!-- Single Prodect -->
                                <div class="product">
                                    <div class="thumb">
                                        <a href="{% url 'shop_left_sidebar' %}" class="image">
                                            <img src="{% static 'images/product-image/5.jpg' %}" alt="Product" />
                                            <img class="hover-image" src="{% static 'images/product-image/6.jpg' %}" alt="Product" />
                                        </a>
                                        <span class="badges">
                                            <span class="sale">-7%</span>
                                        </span>
                                        <div class="actions">
                                            <a href="{% url 'wishlist' %}" class="action wishlist" title="Wishlist"><i
                                                    class="icon-heart"></i></a>
                                            <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                    class="icon-size-fullscreen"></i></a>
                                            <a href="{% url 'compare' %}" class="action compare" title="Compare"><i
                                                    class="icon-refresh"></i></a>
                                        </div>
                                        <button title="Add To Cart" class=" add-to-cart">Add To Cart</button>
                                    </div>
                                    <div class="content">
                                        <h5 class="title"><a href="{% url 'shop_left_sidebar' %}">Product #3</a></h5>
                                        <span class="price">
                                            <span class="new">$0.92</span>
                                        <span class="old">$0.99</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-30px" data-aos="fade-up" data-aos-delay="800">
                                <!-- Single Prodect -->
                                <div class="product">
                                    <div class="thumb">
                                        <a href="{% url 'shop_left_sidebar' %}" class="image">
                                            <img src="{% static 'images/product-image/7.jpg' %}" alt="Product" />
                                            <img class="hover-image" src="{% static 'images/product-image/8.jpg' %}" alt="Product" />
                                        </a>
                                        <span class="badges">
                                            <span class="new">New</span>
                                        </span>
                                        <div class="actions">
                                            <a href="{% url 'wishlist' %}" class="action wishlist" title="Wishlist"><i
                                                    class="icon-heart"></i></a>
                                            <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                    class="icon-size-fullscreen"></i></a>
                                            <a href="{% url 'compare' %}" class="action compare" title="Compare"><i
                                                    class="icon-refresh"></i></a>
                                        </div>
                                        <button title="Add To Cart" class=" add-to-cart">Add To Cart</button>
                                    </div>
                                    <div class="content">
                                        <h5 class="title"><a href="{% url 'shop_left_sidebar' %}">Product #4</a></h5>
                                        <span class="price">
                                            <span class="new">$0.99</span>
                                        </span>
                                    </div>
                                </div>
                                <!-- Single Prodect -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="200">
                                <!-- Single Prodect -->
                                <div class="product">
                                    <div class="thumb">
                                        <a href="{% url 'shop_left_sidebar' %}" class="image">
                                            <img src="{% static 'images/product-image/9.jpg' %}" alt="Product" />
                                            <img class="hover-image" src="{% static 'images/product-image/10.jpg' %}" alt="Product" />
                                        </a>
                                        <span class="badges">
                                            <span class="sale">-5%</span>
                                        <span class="new">New</span>
                                        </span>
                                        <div class="actions">
                                            <a href="{% url 'wishlist' %}" class="action wishlist" title="Wishlist"><i
                                                    class="icon-heart"></i></a>
                                            <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                    class="icon-size-fullscreen"></i></a>
                                            <a href="{% url 'compare' %}" class="action compare" title="Compare"><i
                                                    class="icon-refresh"></i></a>
                                        </div>
                                        <button title="Add To Cart" class=" add-to-cart">Add To Cart</button>
                                    </div>
                                    <div class="content">
                                        <h5 class="title"><a href="{% url 'shop_left_sidebar' %}">Product #5</a></h5>
                                        <span class="price">
                                            <span class="new">$0.94</span>
                                        <span class="old">$0.99</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6  mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="400">
                                <!-- Single Prodect -->
                                <div class="product">
                                    <div class="thumb">
                                        <a href="{% url 'shop_left_sidebar' %}" class="image">
                                            <img src="{% static 'images/product-image/11.jpg' %}" alt="Product" />
                                            <img class="hover-image" src="{% static 'images/product-image/12.jpg' %}" alt="Product" />
                                        </a>
                                        <span class="badges">
                                        </span>
                                        <div class="actions">
                                            <a href="{% url 'wishlist' %}" class="action wishlist" title="Wishlist"><i
                                                    class="icon-heart"></i></a>
                                            <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                    class="icon-size-fullscreen"></i></a>
                                            <a href="{% url 'compare' %}" class="action compare" title="Compare"><i
                                                    class="icon-refresh"></i></a>
                                        </div>
                                        <button title="Add To Cart" class=" add-to-cart">Add To Cart</button>
                                    </div>
                                    <div class="content">
                                        <h5 class="title"><a href="{% url 'shop_left_sidebar' %}">Product #6</a></h5>
                                        <span class="price">
                                            <span class="new">$0.99</span>
                                        </span>
                                    </div>
                                </div>
                                <!-- Single Prodect -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-es-30px" data-aos="fade-up" data-aos-delay="600">
                                <!-- Single Prodect -->
                                <div class="product">
                                    <div class="thumb">
                                        <a href="{% url 'shop_left_sidebar' %}" class="image">
                                            <img src="{% static 'images/product-image/13.jpg' %}" alt="Product" />
                                            <img class="hover-image" src="{% static 'images/product-image/14.jpg' %}" alt="Product" />
                                        </a>
                                        <span class="badges">
                                        </span>
                                        <div class="actions">
                                            <a href="{% url 'wishlist' %}" class="action wishlist" title="Wishlist"><i
                                                    class="icon-heart"></i></a>
                                            <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                    class="icon-size-fullscreen"></i></a>
                                            <a href="{% url 'compare' %}" class="action compare" title="Compare"><i
                                                    class="icon-refresh"></i></a>
                                        </div>
                                        <button title="Add To Cart" class=" add-to-cart">Add To Cart</button>
                                    </div>
                                    <div class="content">
                                        <h5 class="title"><a href="{% url 'shop_left_sidebar' %}">Product #7</a></h5>
                                        <span class="price">
                                            <span class="new">$0.99</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 " data-aos="fade-up" data-aos-delay="800">
                                <!-- Single Prodect -->
                                <div class="product">
                                    <div class="thumb">
                                        <a href="{% url 'shop_left_sidebar' %}" class="image">
                                            <img src="{% static 'images/product-image/15.jpg' %}" alt="Product" />
                                            <img class="hover-image" src="{% static 'images/product-image/16.jpg' %}" alt="Product" />
                                        </a>
                                        <span class="badges">
                                            <span class="new">New</span>
                                        </span>
                                        <div class="actions">
                                            <a href="{% url 'wishlist' %}" class="action wishlist" title="Wishlist"><i
                                                    class="icon-heart"></i></a>
                                            <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                    class="icon-size-fullscreen"></i></a>
                                            <a href="{% url 'compare' %}" class="action compare" title="Compare"><i
                                                    class="icon-refresh"></i></a>
                                        </div>
                                        <button title="Add To Cart" class=" add-to-cart">Add To Cart</button>
                                    </div>
                                    <div class="content">
                                        <h5 class="title"><a href="{% url 'shop_left_sidebar' %}">Product #8</a></h5>
                                        <span class="price">
                                            <span class="new">$0.99</span>
                                        </span>
                                    </div>
                                </div>
                                <!-- Single Prodect -->
                            </div>
                        </div>
                    </div>
                    <!-- 1st tab end -->
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Product tab Area End -->
  <br><br><br>
  <!--  Blog area Start -->
  <div class="main-blog-area pb-100px">
    <div class="container">
        <!-- section title start -->
        <div class="row">
            <div class="col-md-12" data-aos="fade-up">
                <div class="section-title text-center mb-11">
                    <h2 class="title">Latest News</h2>
                    <p class="sub-title">Torem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmo tempor incididunt ut labore
                    </p>
                </div>
            </div>
        </div>
        <!-- section title start -->
        <div class="blog-slider swiper-container slider-nav-style-1" data-aos="fade-up" data-aos-delay="200">
            <!-- Start single blog -->
            <div class="swiper-wrapper">
                <div class="single-blog swiper-slide">
                    <div class="blog-image">
                        <a href="{% url 'blog_single_left_sidebar' %}"><img src="{% static 'images/blog-image/1.jpg' %}" class="img-responsive w-100" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <div class="blog-athor-date">
                            <a class="blog-date" href="#">14 November</a>
                        </div>
                        <h5 class="blog-heading"><a class="blog-heading-link" href="{% url 'blog_single_left_sidebar' %}">Optimization algorithms.</a></h5>
                        <p class="blog-detail-text">Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididu ut labore et dolore magna aliqua.</p>

                        <a href="#" class="btn btn-lg btn-hover-color-primary btn-color-dark mt-25px">Read More</a>
                    </div>
                </div>
                <!-- End single blog -->
                <div class="single-blog swiper-slide">
                    <div class="blog-image">
                        <a href="{% url 'blog_single_left_sidebar' %}"><img src="{% static 'images/blog-image/2.jpg' %}" class="img-responsive w-100" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <div class="blog-athor-date">
                            <a class="blog-date" href="#">14 November</a>
                        </div>
                        <h5 class="blog-heading"><a class="blog-heading-link" href="{% url 'blog_single_left_sidebar' %}">Computational performance.</a></h5>
                        <p class="blog-detail-text">Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididu ut labore et dolore magna aliqua.</p>

                        <a href="#" class="btn btn-lg btn-hover-color-primary btn-color-dark mt-25px">Read More</a>
                    </div>
                </div>
                <!-- End single blog -->
                <div class="single-blog swiper-slide">
                    <div class="blog-image">
                        <a href="{% url 'blog_single_left_sidebar' %}"><img src="{% static 'images/blog-image/3.jpg' %}" class="img-responsive w-100" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <div class="blog-athor-date">
                            <a class="blog-date" href="#">14 November</a>
                        </div>
                        <h5 class="blog-heading"><a class="blog-heading-link" href="{% url 'blog_single_left_sidebar' %}">Generative adversarial networks.</a></h5>
                        <p class="blog-detail-text">Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididu ut labore et dolore magna aliqua.</p>

                        <a href="#" class="btn btn-lg btn-hover-color-primary btn-color-dark mt-25px">Read More</a>
                    </div>
                </div>
                <!-- End single blog -->
                <div class="single-blog swiper-slide">
                    <div class="blog-image">
                        <a href="{% url 'blog_single_left_sidebar' %}"><img src="{% static 'images/blog-image/4.jpg' %}" class="img-responsive w-100" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <div class="blog-athor-date">
                            <a class="blog-date" href="#">14 November</a>
                        </div>
                        <h5 class="blog-heading"><a class="blog-heading-link" href="{% url 'blog_single_left_sidebar' %}">Recommender systems.</a></h5>
                        <p class="blog-detail-text">Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididu ut labore et dolore magna aliqua.</p>

                        <a href="#" class="btn btn-lg btn-hover-color-primary btn-color-dark mt-25px">Read More</a>
                    </div>
                </div>
                <!-- End single blog -->
            </div>
            <!-- Add Arrows -->
            <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
  </div>
  <!--  Blog area End -->

  <!-- Instagram Area Start -->
  <div class="section pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="fade-up">
                <div class="section-title text-center mb-11">
                    <h2 class="title">Follow Us Instagram</h2>
                    <p class="sub-title">Find all valuable infographic images on our Instagram channel</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 col-sm-6 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="200">
                <div class="insta-wrapper">
                    <a href="https://www.instagram.com/" target="_blank"><img class="w-100" src="{% static 'images/instragram-image/1.png' %}" alt="">

                    </a>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 col-sm-6 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="400">
                <div class="insta-wrapper">
                    <a href="https://www.instagram.com/" target="_blank"><img class="w-100" src="{% static 'images/instragram-image/2.png' %}" alt="">

                    </a>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 col-sm-6 mb-xs-30px" data-aos="fade-up" data-aos-delay="600">
                <div class="insta-wrapper">
                    <a href="https://www.instagram.com/" target="_blank"><img class="w-100" src="{% static 'images/instragram-image/3.png' %}" alt="">

                    </a>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 col-sm-6 " data-aos="fade-up" data-aos-delay="800">
                <div class="insta-wrapper">
                    <a href="https://www.instagram.com/" target="_blank"><img class="w-100" src="{% static 'images/instragram-image/4.png' %}" alt="">

                    </a>
                </div>
            </div>
            <!-- Single Item -->
        </div>
    </div>
  </div>
  <!-- Instagram Area End -->
{% endblock %}
